
<div class="row mx-5 my-4">
     <div class="col-4">
          <div class="bg-primary bg-gradient w-100 h-100 px-4 py-5">
               <div class=" justify-content-between">
                    <div>
                         <p class="text-white">IOChat</p>
                    </div>
                    <div class="w-100 my-5">
                         <h2 class="text-white ">Tham gia cộng đồng cùng chúng mình</h2>
                         <p class="text-start text-white">Tạo tài khoản ngay thôi nào</p>
                    </div>
                    <div class="w-100">
                         <div class="card border-primary mb-3  " style="max-width: 18rem;background-color: #2520e3;">
                              <div class="card-body text-white">
                                   <p class="card-text">Some quick example text to build on the card title and make up
                                        the
                                        bulk of the card's content.</p>

                              </div>
                              {{!-- card --}}
                              <div class="row g-0 row containerCard px-3">
                                   <img src="images/image_demo.jpg" class="img-fluid imageCard rounded" alt="...">
                                   <div class="w-50">
                                        <div class="card-body text-white ">
                                             <b class="m-0 font-weight-bold">Timson K</b>
                                             <small>Last updated 3
                                                  mins ago</small>
                                        </div>
                                   </div>
                              </div>

                         </div>
                    </div>
               </div>

          </div>
     </div>
     <div class="col-8">
          <div class="bg-primary bg-white w-100 px-4 py-5 h-100">
               <h2 class="">Đăng nhập</h2>
               <p>Đăng nhập bằng tài khoản của bạn</p>
               <form class="my-5" action="/login-c" method="post">
                    <div class="mb-3">
                         <label for="exampleInputEmail1" class="form-label">Địa chỉ Email</label>
                         <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                         <label for="exampleInputPassword1" class="form-label">Mật khẩu</label>
                         <input type="password" name="password" class="form-control" id="exampleInputPassword1">
                         <p class="text-danger">{{errorPass}}</p>
                    </div>
                    <div class="mb-3 form-check">
                         <input type="checkbox" class="form-check-input" id="exampleCheck1">
                         <label class="form-check-label" for="exampleCheck1">Ghi nhớ đăng nhập</label>
                    </div>
                    <button type="submit" class="btn px-4 py-2 btn-primary">Đăng nhập</button>
               </form>
          </div>

     </div>
</div>
